main {
    margin: 50px auto;
    border: 3px solid #ddd;
    width: 400px;
    float: left;
}

section{
    width: 98px;
    height: 98px;
    display: block;
    background: wheat;
    margin: 1px;
    float: left;
}